@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #edeff3;
    display: flow-root;
    justify-content: center;  
}

.logo{
    margin-left: 50px;
    width: 50px;
    position: relative;
    top: 19px;
}

.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
    font-size: 1.1em;
}

.menu {
    width: 70%;
    margin-right: 50px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.2em;
}

a:hover{
    border-bottom: 2px solid;
}

.contact{
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 40px;
}

.fa-chevron-down {
    color: #a2a8b2;
    font-size: 1.1em;
    position: relative;
    right: 55px;
    top: 5px;
}

.container {
    width: 500px;
    height: 70vh;
    display: block;
    margin: 60px auto;
    padding: 2em;
    background: rgb(255 255 255);
    border-radius: 20px;
}

h2 {
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    margin: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #888282;
}

span {
    color: #000;
    font-weight: 700;
    margin-right: 2px;
}

.form {
    margin: 17px 12px;
}

form i {
    font-size: 1.5em;
    position: relative;
    right: 10px;
    bottom: 4px;
    float: right;
    color: #888282;   
}

fieldset {
    padding: 4px 3px;
    font-weight: 700;
    margin-bottom: 20px;
    height: 68px;
    display: flex;
    margin-right: 6px;
    justify-items: center;
    border-radius: 13px;
    border-color: 1px #e3e4e8;
}

fieldset:hover{
    border: 1px solid #0c7b8a;
    
}

input {
    padding: 1.3em 0;
    border: none;
    margin-bottom: 10px;
    margin-left: 6px;
    width: 100%;
    font-size: 1em;
    justify-items: center;
    text-indent: 6px;
    color: #0b3028;
    position: relative;
    font-weight: 700;
    top: -15px;
}

input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="checkbox"]{
    width: 5%;    
}

.transacao {
    justify-content: center;
}

label {
    font-weight: 700;
}

legend {
    font-weight: 600;
    color: #13af8b;
    padding: 7px;
}

#status{
    margin-bottom: 1.2em;
    color: #fff;
    padding: 0.5em;
    margin-left: 0.3em;
    background: #888282;
    font-weight: 700;
    text-align: center;
}

button {
    width: 100%;
    justify-content: flex-end;
    margin-top: 2em;
    padding: 10px;
    font-weight: 900;
    color: #fff;
    background-color: #50af8b;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
}







