/*============ Geral ==============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #edeff3;
    display: block;
    justify-content: center;
    overflow-y: scroll
   
}

/*============ Container =============*/
.container{
    width: 1000px;
    height: 100vh;
    display: block;
    margin: 30px auto;
    background: rgb(255 255 255);
    border-radius: 20px; 
}

/* ============= Header ===================*/

.logo{
    margin-left: 50px;
    width: 50px;
    position: relative;
    top: 19px;
}

.header{
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 90px;
    margin-top: 17px;    
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

.menu {
    width: 70%;
    margin-right: 50px;
    padding-bottom: 30px;
}

.header a{
    font-size: 16px;
    font-style: bold;
    color: #555758;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 10px;
}

.header a:hover{
    color: #00aaff;
}

.contact{
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 30px;
}

.fa-chevron-down {
    color: #a2a8b2;
    font-size: 15px;
    position: relative;
    right: 60px;
    top: 2px;
}

.fa-angle-right{
 position: relative;
 right: 40px;
}


/*====================== Tabela =================*/

.table1 {
    padding-top: 10px;
}
.title {
    display: flex;
    margin: 20px 42px;
    justify-content: space-between;
}

.title h2{
    color: #586672;
    font-size: 16px;
    font-style: bold;
    margin-top: 15px;
}

button{
    background-color: #2dcb73;
    padding: 10px;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
    background-color: #000;
    color: #00aaff;  
}

table{
    width: 92%;
    margin-top: 8px;
    margin-left: 50px;
    border-collapse: collapse;
    color: rgb(140 149 163);
}


table img {
    width: 20px;
}

table th {
    background-color: rgb(249 251 252);
    text-transform: uppercase;
    font-size: small;
    font-style: bold;
    padding: 12px;
    width: 20%;
    text-align: left;
    color: #555758;
}

tr td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    padding: 30px 8px;
}


td {
    width: 50%;
    text-align: left;
    white-space: nowrap;
}

.bold, .name {
    color: #000;
    font-weight: 600;
}

.subtitle{
    display: block;
    margin-top: 11px;
}

.avatar{
    display: inline-flex;
    width: 2em;
    border-radius: 100px;
}


.status, .usuario{
    margin-left: 80px;
    
}

.seta-direita{
    color: rgba(0, 0, 0, 0.623);
    margin-left: 100px;
}