@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #edeff3;
    display: flow-root;
    justify-content: center;  
}

.logo{
    margin-left: 50px;
    width: 50px;
    position: relative;
    top: 19px;
}

.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
    font-size: 1.1em;
}

.menu {
    width: 70%;
    margin-right: 50px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.2em;
}

a:hover{
    border-bottom: 2px solid;
}

.contact{
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 40px;
}

.fa-chevron-down {
    color: #a2a8b2;
    font-size: 1.1em;
    position: relative;
    right: 55px;
    top: 5px;
}

span {
    color: #000;
    font-weight: 700;
    margin-right: 2px;
}


.container {
    width: 80%;
    height: 80vh;
    display: block;
    margin: 60px auto;
    padding: 1em;
    background: rgb(255 255 255);
    border-radius: 20px;
}

.table1 {
    padding-top: 10px;
}

.title{
    color: #083247;
    padding: 10px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.9em;
}

button{
    padding: 0.2em;
    background: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    border: none;
}

table{
    width: 92%;
    margin-top: 8px;
    margin-left: 50px;
    border-collapse: collapse;
    color: rgb(140 149 163);
    border-spacing: 30px;
    border: 1px solid rgba(0, 0, 0, 0.637);
}

table img {
    width: 20px;
}

th {
    background-color: #0c7b8a;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.644);
}

td{
    color: #083247;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 10px;
    text-align: center;
    font-weight: 800;
}

.fa-edit, .fa-trash-alt {
    font-size: 1.2em;
    cursor: pointer;
    padding: 1.2em;
    background-color: none;

}

.fa-edit {
    color: #083247;
}

.fa-trash-alt {
    color: rgb(240, 9, 9);
}






